.table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	th {
		font-weight: 500;
		font-family: "Poppins", sans-serif;
		font-size: 13px;
	}

	th,
	td {
		padding: 16px 24px;
		vertical-align: middle;
		border-top: $cb4 solid 1px;
		text-align: left;
	}
}
