.bgn          { background: none; }
.bgin         { background-image: none; }

.bgrnr        { background-repeat: no-repeat; }
.bgrrx        { background-repeat: repeat-x; }
.bgrry        { background-repeat: repeat-y; }

.bgpl         { background-position: left; }
.bgpc         { background-position: center; }
.bgpr         { background-position: right; }
.bgpb         { background-position: bottom; }

.bgsa         { background-size:auto; }
.bgsc         { background-size:contain; }
.bgsv         { background-size:cover; }
