.ov   { overflow: visible; }
.oh   { overflow: hidden; }
.os   { overflow: scroll; }
.oa   { overflow: auto; }

.oxv  { overflow-x: visible; }
.oxh  { overflow-x: hidden; }
.oxs  { overflow-x: scroll; }
.oxa  { overflow-x: auto; }

.oyv  { overflow-y: visible; }
.oyh  { overflow-y: hidden; }
.oys  { overflow-y: scroll; }
.oya  { overflow-y: auto; }


.on { outline: none; }