@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		@each $size in $map-sizing {
			.wh#{$size}#{$infix}   { width: #{$size}px; height:#{$size}px; }
			.w#{$size}#{$infix}    { width: #{$size}px; }
			.h#{$size}#{$infix}    { height: #{$size}px; }
			
			.miw#{$size}#{$infix}  { min-width: #{$size}px; }
			.maw#{$size}#{$infix}  { max-width: #{$size}px; }
			.mih#{$size}#{$infix}  { min-height: #{$size}px; }
			.mah#{$size}#{$infix}  { max-height: #{$size}px; }

			.w#{$size}p#{$infix}    { width: #{$size}#{'%'}; }
			.h#{$size}p#{$infix}    { height: #{$size}#{'%'}; }

		 }

		 .wha#{$infix}     { width: auto; height: auto; }
		 .wa#{$infix}      { width: auto; }
		 .ha#{$infix}      { height: auto; }
		 .miwa#{$infix}    { min-width: auto; }
		 .mawn#{$infix}    { max-width: none;}
		 .miha#{$infix}    { min-height: auto;}
		 .mahn#{$infix}    { max-height: none;}

	}
}

.h100vh   { height: 100vh; }
.mah100vh { max-height: 100vh; }
.mih100vh { min-height: 100vh; }

// p → %
// e → em
// x → ex
// r → rem
// d → deg
// t → turn
// h → vh
// w → vw
// i → vmin
// a → vmax

// ---------------------------------------------------------------------------------------------

.miwmc   { min-width: max-content; }

// ---------------------------------------------------------------------------------------------

.mawxs   { max-width:360px  ; margin-left: auto; margin-right: auto; }
.mawsm   { max-width:540px  ; margin-left: auto; margin-right: auto; }
.mawmd   { max-width:720px  ; margin-left: auto; margin-right: auto; }
.mawlg   { max-width:960px  ; margin-left: auto; margin-right: auto; }
.mawxl   { max-width:1140px ; margin-left: auto; margin-right: auto; }

.miwxs   { min-width:360px  ; margin-left: auto; margin-right: auto; }
.miwsm   { min-width:540px  ; margin-left: auto; margin-right: auto; }
.miwmd   { min-width:720px  ; margin-left: auto; margin-right: auto; }
.miwlg   { min-width:960px  ; margin-left: auto; margin-right: auto; }
.miwxl   { min-width:1140px ; margin-left: auto; margin-right: auto; }

// ---------------------------------------------------------------------------------------------

.mw176    { min-width: 176px; max-width: 176px ; }
.mw192    { min-width: 192px; max-width: 192px ; }
.mw208    { min-width: 208px; max-width: 208px ; }
.mw224    { min-width: 224px; max-width: 224px ; }