.vab  { vertical-align: bottom; }
.vabs { vertical-align: baseline; }
.vam  { vertical-align: middle; }
.vas  { vertical-align: sub; }
.vasp { vertical-align: super; }
.vat  { vertical-align: top; }
.vatb { vertical-align: text-bottom; }
.vatt { vertical-align: text-top; }
