@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.vv#{$infix} {	visibility: visible; }
		.vh#{$infix} {	visibility: hidden;	}
		.vc#{$infix} {	visibility: collapse; }
	}
}
